@model IEnumerable<CoffeeShopApp.Models.BasketLine>
<p>added to basket</p>
@foreach (var item in Model)
{
    <p>Quantity: @Html.DisplayFor(modelItem => item.Quantity)</p>
    <p>Product Name: @Html.DisplayFor(modelItem => item.Product.Name)</p>
}